// color
$mainColor: #fddfcd;
$secondaryColor: #ff6600;

// font
$typeFontSize: 1.6rem; 
$titleFontSize: 1.3rem;

// ----
$largePadding: 90px;
$mediumPadding: 30px;


// RWD
$largeSizeView:1290px;
$mediumSizeView:840px;

